.container-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin: 5% 0;
}

.text-detail {
  background-color: #3A015C;
  padding: 50px;
  margin: 0 6%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px #000000be;
}

.img-detail {
  margin: 0 6%;
}

.img-detail img{
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 150px;
  box-shadow: 0 10px 20px #000000be;
}