.container {
  margin: 12px 12px 20px 12px;
}

.card a {
  color: ghostwhite;
  text-decoration: none;
}

.card {
  position: relative;
  width: 300px;
  float: left;
  perspective: 650px;
}

.content {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(-180deg);
  transition: transform 1s;
}

.front,
.back {
  backface-visibility: hidden;
}

.front img {
  border-radius: 14px;
  box-shadow: 8px 8px 20px black;
}

.back {
  position: absolute;
  top: 0%;
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(24, 24, 24), rgb(12, 12, 12));
  transform: rotateY(180deg);
  z-index: 1;
  border-radius: 12px;
  box-shadow: 8px 8px 20px black;
}

.text-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 300px;
  height: 300px;
  font-size: 20px;
  line-height: 60px;
}

.close {
  position: absolute;
  right: 0%;
  margin: 16px;
  padding: 3px 7px;
  border: none;
  border-radius: 3px;
  color: ghostwhite;
  background: linear-gradient(red, rgb(167, 0, 0));
  transition: all 0.2s;
}

.favorite {
  position: absolute;
  left: 0%;
  margin: 12px;
  font-size: 24px;
  background: transparent;
  border: none;
  transition: all 0.2s;
}

.favorite:hover, .close:hover {
  transform: scale(1.2);
}

.favorite:active, .close:active {
  transform: scale(0.8);
}

.box-color {
  position: absolute;
  top: 0%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.box-color::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    0deg,
    transparent,
    rgb(204, 0, 232),
    rgb(204, 0, 232)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box-color::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    0deg,
    transparent,
    rgb(33, 255, 0),
    rgb(33, 255, 0)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box-plain {
  position: absolute;
  inset: 4px;
  background: linear-gradient(rgb(24, 24, 24), rgb(12, 12, 12));
  z-index: 2;
  border-radius: 10px;
}
