.card {
  position: relative;
  background-color: rgb(24, 22, 24);
  margin: 10px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #00000067;
  line-height: 0.8;
  transition: 0.5s ease-out;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
  background-color: rgb(61, 252, 22);
  z-index: 2;
}

.card-link a:link, a:visited, a:active {
  line-height: 30px;
  text-decoration:none;
  color: #190029;
}

.info {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover .info{
  height: 100%;
}

.card img {
  position: relative;
  width: 230px;
  border-radius: 10px;
  z-index: 3;
}

.btn-fav-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.close {
  background-color: rgb(134, 0, 0);
  display: block;
  margin-top: auto;
  margin-left: auto;
  font-size: 12px;
  padding: 5px 9px;
  border: 0;
  margin-bottom: 3px;
  border-radius: 4px;
  color: ghostwhite;
  box-shadow: 0 1px 5px #000000be;
  transition: 0.3s ease-out;
}

.favorite {
  background-color: transparent;
  display: block;
  margin-top: auto;
  margin-right: auto;
  font-size: 20px;
  border: 0;
  border-radius: 4px;
  transition: 0.3s ease-out;
}

.close:hover, .favorite:hover {
  transform: translateY(-3px) scale(1.1);
}

.favorite:active {
  transition: all 0.1s ease;
  transform: scale(1);
}
