.about{
    background-color: #3A015C;
    margin: 4% 15%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    line-height: 0.8;
    box-shadow: 0 8px 16px black;
}