.card {
  position: relative;
  background-color: #140020;
  margin: 10px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 10px 20px #000000be;
  line-height: 0.8;
  transition: 0.5s;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: ghostwhite;
}

.card:hover {
  transform: translateY(-6px);
  background-color: rgb(20, 172, 0);
}

.card img {
  width: 230px;
  border-radius: 10px;
}

.close {
  background-color: #5f0294;
  display: block;
  margin-top: auto;
  margin-left: auto;
  font-size: 12px;
  padding: 3px 8px;
  border: 0;
  border-radius: 4px;
  color: ghostwhite;
  box-shadow: 0 1px 5px #000000be;
}
