.card-fav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.filter-order select {
  background-color: rgb(61, 252, 22);
  color: #190029;
  margin: 0 8px;
  display: inline-block;
  width: 200px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 5px 10px #000000be;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  border-radius: 12px;
  position: relative;
  transition: 0.3s ease;
}

.filter-order select:hover {
  background: rgb(248, 255, 247);
}
