.container-searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}

.btn {
  display: flex;
  justify-content: center;
}

.search {
  position: relative;
  width: 300px;
}

.search input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(24, 22, 24);
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.search span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: ghostwhite;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.search input:valid ~ span,
.search input:focus ~ span {
  color: ghostwhite;
  transform: translateX(-8px) translateY(-34px);
  font-size: 0.8em;
}

.search i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110%;
  height: 2px;
  background: rgb(217, 255, 209);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.search input:valid ~ i,
.search input:focus ~ i {
  height: 38px;
}

.btn-agregar,
.btn-random {
  background: rgb(20, 20, 20);
  color: ghostwhite;
  height: auto;
  width: auto;
  margin: 8px 0;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-out;
}

.btn-random {
  margin-left: 10px;
}

.btn-agregar:hover{
  transform: translateY(-2px);
  background: rgba(205, 0, 232, 0.6);
} 

.btn-random:hover {
  transform: translateY(-2px);
  background: rgb(33, 255, 0, 0.6)
}

.btn-agregar:active, .btn-random:active {
  transform: scale(0.9);
}